{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="{% static 'index.css' %}">
    <link rel='stylesheet' href="{% static 'members.css' %}">
    <title>Tech / Members</title>
</head>
<body>

    <header>
        <img src="{% static 'assets/logo.jpeg' %}" alt="" class="logo"/>
    </header>

    <main>
        <h1>Àrea para membros</h1>
        <div class="social-media">
            <h2 style="color: #fff">Área de membros online do app tech</h2>
        </div>
        <div class="logout_btn_container">
            <a class="logout-btn" href="http://127.0.0.1:8000/accounts/logout/" >Logout</a>
        </div>
    </main>
</body>
</html>